---
- name: "Load OS-specific vars."
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_distribution }}.yml"
        - "{{ ansible_os_family }}.yml"
        - "main.yml"
      paths:
        - "vars"

- name: "Import preflight tasks."
  ansible.builtin.import_tasks: "preflight.yml"

- name: "Import installation tasks."
  ansible.builtin.import_tasks: "install.yml"

- name: "Import configuration tasks."
  ansible.builtin.import_tasks: "configure.yml"

- name: "Import systemd tasks."
  ansible.builtin.import_tasks: "systemd.yml"

- name: "Import populate tasks."
  ansible.builtin.import_tasks: "populate.yml"
