---
- name: "Configure services and timer."
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "/etc/systemd/system/{{ item.dest }}"
    owner: "root"
    group: "root"
    mode: "0644"
  loop:
    - src: "netbox.service.j2"
      dest: "{{ netbox_service_name }}.service"
    - src: "netbox-housekeeping.service.j2"
      dest: "{{ netbox_housekeeping_service_name }}.service"
    - src: "netbox-housekeeping.timer.j2"
      dest: "{{ netbox_housekeeping_service_name }}.timer"
    - src: "netbox-rq.service.j2"
      dest: "{{ netbox_rq_service_name }}.service"
  loop_control:
    label: "{{ item.dest }}"
  register: "__netbox_copy_services"

- name: "Setup services."
  become: true
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    daemon_reload: true
    enabled: true
    state: "{{ 'restarted' if netbox_restart_services | default(false) | bool else 'started' }}"
  loop:
    - "{{ netbox_service_name }}.service"
    - "{{ netbox_housekeeping_service_name }}.timer"
    - "{{ netbox_rq_service_name }}.service"
