{{ ansible_managed | comment }}

# --------------------
# System configuration
# --------------------

SECRET_KEY = "{{ netbox_secret_key }}"

{% if netbox_debug_mode_enabled is defined %}
DEBUG = {{ netbox_debug_mode_enabled | bool }}
{% endif -%}

{% if netbox_default_language is defined %}
DEFAULT_LANGUAGE = "{{ netbox_default_language }}"
{% endif -%}

{% if netbox_check_for_updates_url is defined %}
RELEASE_CHECK_URL = "{{ netbox_check_for_updates_url }}"
{% else %}
RELEASE_CHECK_URL = None
{% endif -%}

{% if netbox_maintenance_mode_enabled is defined %}
MAINTENANCE_MODE = {{ netbox_maintenance_mode_enabled | bool }}
{% endif -%}

{% if netbox_census_reporting_enabled is defined %}
CENSUS_REPORTING_ENABLED = {{ netbox_census_reporting_enabled | bool }}
{% endif -%}

{% if netbox_timezone is defined %}
TIME_ZONE = "{{ netbox_timezone }}"
{% endif -%}

{% if netbox_banner_bottom is defined %}
BANNER_BOTTOM = "{{ netbox_banner_bottom }}"
{% endif -%}

{% if netbox_banner_top is defined %}
BANNER_TOP = "{{ netbox_banner_top }}"
{% endif -%}

{% if netbox_banner_login is defined %}
BANNER_LOGIN = "{{ netbox_banner_login }}"
{% endif -%}

{% if netbox_banner_maintenance is defined %}
BANNER_MAINTENANCE = "{{ netbox_banner_maintenance }}"
{% endif -%}

LOGGING = {{ __netbox_logging | to_nice_json | replace(': false', ': False') | replace(': true', ': True') }}

# ---------------------
# Plugins configuration
# ---------------------

{% if netbox_plugins is defined %}
PLUGINS = {{ netbox_plugins | to_nice_json }}
{% endif -%}

{% if netbox_plugins_configuration is defined %}
PLUGINS_CONFIG = {{ netbox_plugins_configuration | default({}) | to_nice_json | replace(': false', ': False') | replace(': true', ': True') }}
{% endif -%}

# ----------------------
# Security configuration
# ----------------------

{% if netbox_retrospective_api_token_access_allowed is defined %}
ALLOW_TOKEN_RETRIEVAL = {{ netbox_retrospective_api_token_access_allowed | bool }}
{% endif -%}

{% if netbox_internal_ips is defined %}
INTERNAL_IPS = {{ netbox_internal_ips | to_json }}
{% endif -%}

# ---------------------
# Network configuration
# ---------------------

ALLOWED_HOSTS = {{ netbox_allowed_hosts | to_json }}

{% if netbox_url_base_path is defined %}
BASE_PATH = "{{ netbox_url_base_path }}"
{% endif -%}

{% if netbox_metrics_enabled is defined %}
METRICS_ENABLED = {{ netbox_metrics_enabled | bool }}
{% endif -%}

{% if netbox_cors_origin_allow_all is defined %}
CORS_ORIGIN_ALLOW_ALL = {{ netbox_cors_origin_allow_all | bool }}
{% endif -%}

{% if netbox_cors_origin_whitelist is defined %}
CORS_ORIGIN_WHITELIST = {{ netbox_cors_origin_whitelist | to_json }}
{% endif -%}

{% if netbox_cors_origin_regex_whitelist is defined %}
CORS_ORIGIN_REGEX_WHITELIST = {{ netbox_cors_origin_regex_whitelist | to_json }}
{% endif -%}

HTTP_PROXIES = {{ __netbox_proxy | to_nice_json }}

# ----------------------
# Database configuration
# ----------------------

DATABASE = {{ __netbox_db | to_nice_json | replace(': false', ': False') | replace(': true', ': True') }}

# -------------------
# Redis configuration
# -------------------

REDIS = {{ __netbox_redis | to_nice_json | replace(': false', ': False') | replace(': true', ': True') }}

# -------------------
# Email configuration
# -------------------

EMAIL = {{ __netbox_email | to_nice_json | replace(': false', ': False') | replace(': true', ': True') }}

# ------------------
# User configuration
# ------------------

ADMINS = [
{% for admin in netbox_admins | default([]) %}
    {{ [admin.name, admin.email] | to_json }},
{% endfor %}
]

# -----------------------------
# Login / Session configuration
# -----------------------------

{% if netbox_login_required is defined %}
LOGIN_REQUIRED = {{ netbox_login_required | bool }}
{% endif -%}

{% if netbox_login_session_persist is defined %}
LOGIN_PERSISTENCE = {{ netbox_login_session_persist | bool }}
{% endif -%}

{% if netbox_login_session_timeout is defined %}
LOGIN_TIMEOUT = {{ netbox_login_session_timeout | int }}
{% endif -%}

{% if netbox_csrf_cookie_name is defined %}
CSRF_COOKIE_NAME = "{{ netbox_csrf_cookie_name }}"
{% endif -%}

{% if netbox_session_cookie_name is defined %}
SESSION_COOKIE_NAME = "{{ netbox_session_cookie_name }}"
{% endif -%}

# -------------------------
# Date / Time configuration
# -------------------------

# Date/time formatting. See the following link for supported formats:
# https://docs.djangoproject.com/en/stable/ref/templates/builtins/#date
DATE_FORMAT           = "N j, Y"
SHORT_DATE_FORMAT     = "Y-m-d"
TIME_FORMAT           = "g:i a"
SHORT_TIME_FORMAT     = "H:i:s"
DATETIME_FORMAT       = "N j, Y g:i a"
SHORT_DATETIME_FORMAT = "Y-m-d H:i"
